<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head">
		<meta charset="utf-8">
		<title>Employees Management</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="icon" type="image/ico" th:href="@{/images/favicon.ico}"/>
	</head>
	<body>
		<header th:fragment="header">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<a class="navbar-brand" href="/">Employees Management</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
				    <ul class="navbar-nav">
				       <li class="nav-item">
				       	<a sec:authorize="hasAnyRole('ADMIN', 'USER')" class="nav-link">Welcome [[${#httpServletRequest.remoteUser}]]</a>
				       </li>
				    </ul>
				    <form class="d-flex" th:action="@{/logout}" method="post">
				        <input sec:authorize="hasAnyRole('ADMIN', 'USER')" class="btn btn-secondary" type="submit" value="Cerrar sesión" />
				    </form>
				</div>
			</nav>
		</header>
		<div class="container">
			<div th:if="${success != null}"	class="alert alert-primary alert-dismissible fade show">
				[[${success}]]>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
		<div class="container">
			<div th:if="${error != null}" class="alert alert-danger alert-dismissible fade show">
				[[${error}]]>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
		<div class="container">
			<div th:if="${warning != null}"	class="alert alert-warning alert-dismissible fade show">
				[[${warning}]]>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
		<div class="container">
			<div th:if="${info != null}" class="alert alert-info alert-dismissible fade show">
				[[${info}]]>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
		<footer th:fragment="footer">
			<script type="text/javascript" th.src="@{/js/bootsrap.bundle.min.js}"></script>
		</footer>
	</body>
</html>