<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="layout/layout :: head"></head>
	<body>
		<header th:replace="layout/layout :: header"></header>
		<div class="py-4 ml-5 mr-5">
			<div class="card bg-light">
				<div class="card-header" th:text="${title}"></div>
				<div class="card-body">
					<h4 class="card-title">
						<a sec:authorize="hasRole('ADMIN')" th:href="@{/form}" class="btn btn-primary">Add employee</a>
						<a sec:authorize="hasRole('ADMIN')" th:href="@{/pdf}" class="btn btn-secondary">Export to PDF</a>
						<a sec:authorize="hasRole('ADMIN')" th:href="@{/excel}"	class="btn btn-success">Export to Excel</a>
					</h4>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>Last name</th>
								<th>Email</th>
								<th>Date</th>
								<th>Phone</th>
								<th>Sex</th>
								<th>Salary</th>
								<th>Details</th>
								<th sec:authorize="hasRole('ADMIN')">Edit</th>
								<th sec:authorize="hasRole('ADMIN')">Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="employee : ${employees}">
								<td th:text="${employee.id}"></td>
								<td th:text="${employee.name}"></td>
								<td th:text="${employee.lastName}"></td>
								<td th:text="${employee.email}"></td>
								<td th:text="${employee.date}"></td>
								<td th:text="${employee.phone}"></td>
								<td th:text="${employee.sex}"></td>
								<td th:text="${employee.salary}"></td>
								<td>
									<a class="btn btn-info btn-sm" th:href="@{/details/} + ${employee.id}">Details</a>
								</td>
								<td sec:authorize="hasRole('ADMIN')">
									<a class="btn btn-warning btn-sm"
									th:href="@{/form/} + ${employee.id}">Edit</a></td>
								<td sec:authorize="hasRole('ADMIN')">
									<a class="btn btn-danger btn-sm" th:href="@{/delete/} + ${employee.id}"	onclick="return confirm('¿Are you sure?');">Delete</a>
								</td>
							</tr>
						</tbody>
					</table>
					<nav th:replace="paginator-nav :: paginator"></nav>
				</div>
			</div>
		</div>
		<footer th:replace="layout/layout :: footer"></footer>
	</body>
</html>